<!DOCTYPE html>
<html>
  <head>
    <title>quizone</title>
    <link href="master.scss" rel="stylesheet">
  </head>
  <body>
    <h1 class="headline">Colorful Headline to Pass Quiz #1</h1>

  <%= yield %>

  </body>
</html>


